.Buttons{
    margin:10px;
    display: inline-block;
    align-content: center;
    padding-left: 30px;
    
}
/*Trial of Changing file*/
.btn{
    font-size: 20px;
    margin-top: 30px;
}

.Starting_text{
    padding-left: 20px;
}
