.Buttons{
    margin:20%;
    display: inline-block;
    align-content: center;
    padding-left: 30%;
    
}
.btn{
    font-size: 20px;
    margin-top: 30px;
}

.fees_body{
    background-color: rgb(177, 169, 169);
}
.text-1,.paybtn{
            border-radius: 5px;
              padding: 3% 3%;
              color: rgb(76, 76, 87);
              font-weight: bolder;
              background-color: honeydew;
              text-align: left;
              font-family: serif;
              border: 3px solid rgb(76, 76, 87);
              font-family: 'Poppins', sans-1erif;
              text-decoration: none;
              display: inline-block;
              margin: 0 auto 1%;
              width: 49%;
              font-size: 20px;
}
.paybtn{
    padding-left: 3%;
    margin-left: 3%;
    width: 30%;
}
#fp{
    background-color: honeydew;
    font-size: 100px;
    display: inline;
    align-items: center;
}
