body {
  margin: 0;
  text-align: center;
  background-color: rgb(220, 223, 227);
}
.container {
  padding: 40px;
  width: auto;
}
.sub-container {
  box-shadow: 0 0 5px 6px rgba(200, 203, 207, 1);
  width: 400px;
  background-color: white;
  margin: 0 auto;
  padding: 40px 20px;
}
.heading {
  font-family: 'Poppins', sans-serif;
  font-family: 'Pacifico', cursive;
  font-weight: bolder;
  font-size: 30px;
  margin: 0 auto 10px;
}
.text-input {
  width: 70%;
  margin-bottom: 30px;
  padding: 10px 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid darkgray;

}
.text-input:focus {
  outline: none;
  border-bottom-color: rgb(9, 186, 27);
  font-size: 16px;
  color: rgb(9, 186, 27);
  duration: 1s;
}
.login-btn {
  margin-top: 15px;
  padding: 10px 0;
  width: 50%;
  border-radius: 20px;
  border: none;
  background-color: green;
  color: white;
  font-size: 17px;
}
